<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;1,400&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/aside.css">
        <link rel="stylesheet" href="../css/content.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/header.css">

        <title>Mega Rocket</title>
    </head>
    <body>
        <header>
            <img src="/assets/imgs/header/logo-mega-rocket.png" alt="logo-mega-rocket" id="logo">
            <div>
                <a href="../views/sign-up.html"><button>Sign Up</button></a>
                <a href="../views/login.html"><button>Login</button></a>
            </div>
            <img src="/assets/icons/header/sandwich-icon.png" alt="sandwich-icon" id="sandwich-icon">

        </header>
        <aside>
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            <img src="/assets/icons/aside/icon-btn-home.png" alt="">
                            Home
                        </a>    
                    </li>
                        <li>
                        <a href="../views/sign-up.html">
                            <img src="/assets/icons/aside/icon-btn-singUp.png" alt="">
                            Sign Up
                        </a>
                        </li>
                    <li>
                        <a href="../views/login.html">
                            <img src="/assets/icons/aside/icon-btn-singIn.png" alt="">
                            Sign In
                        </a>
                    </li>
                </ul>
            </nav>
                <div class="information">
                    <h4>
                        Contact Information
                    </h4>
                        <p id="aside-information-email">
                            <img src="/assets/icons/aside/icon-home.png" alt="">
                            information@untitled.tld
                        </p>
                        <p>
                            <img src="/assets/icons/aside/icon-phone.png" alt="">
                            (000) 000-0000
                        </p>
                        <p>
                            <img src="/assets/icons/aside/icon-packet.png" alt="">
                            1234 Somewhere Road #8254 Nashville, TN
                        </p>
                </div>
        </aside>
        <main>
            <section class="section-welcome">
                <div class="section-welcome-txt">
                    <h1>
                        MEGA ROCKET WEB
                    </h1>
                        <h2 id="h2-welcome">
                            WELCOME
                        </h2>
                            <p class="txt">
                                Mega Rocket web is a monthly management system for members and trainers so that they
                                can dynamically sign up for their activities in the gym
                            </p>    
                </div>
                <div class="section-welcome-img">
                    <img src="/assets/imgs/section/image-head.png" alt="">
                </div>
            </section>
            <section class="section-feactures">
                <h2>
                    Features
                </h2>
                    <div class="article-section-feactures">
                        <div>
                            <article>
                                <div class="img-title">
                                    <img src="/assets/icons/section/feactures/icon-feacture-shift-reservation.jpg" 
                                    alt="">
                                    <h3>
                                        Shift reservations
                                    </h3>
                                </div>
                                    <p class="txt">
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin 
                                        aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                    </p>
                            </article>
                            <article>
                                <div class="img-title">
                                    <img src="/assets/icons/section/feactures/icon-fracture-scheduling.jpg" alt="">
                                    <h3>
                                        Scheduling & opening hours
                                    </h3>
                                </div>
                                    <p class="txt">
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin 
                                        aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                    </p>
                            </article>
                        </div>
                        <div>
                            <article>
                                <div class="img-title">
                                    <img src="/assets/icons/section/feactures/icon-fracture-membership.jpg" alt="">
                                    <h3>
                                        Membership management
                                    </h3>
                                </div>
                                    <p class="txt">
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin 
                                        aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                    </p>
                            </article>
                            <article >
                                <div class="img-title">
                                    <img src="/assets/icons/section/feactures/icon-fracture-contact.jpg" alt="">
                                    <h3>
                                        Contact form & suggestions
                                    </h3>
                                </div>
                                    <p class="txt">
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin 
                                        aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                    </p>
                            </article>
                        </div>
                    </div>
            </section>
            <section class="section-about">
                <h2>
                    About Mega Rocket
                </h2>
                    <article>
                        <div class="first-section-about">
                            <img src="/assets/imgs/section/image-about-first.png" alt="">
                                <div>
                                    <p class="txt txt-desk">
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin 
                                        aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam. 
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin 
                                        aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam. 
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin 
                                        aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                    </p>
                                    <p class="txt-mobile">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s 
                                        (...)
                                    </p>
                                    <button class="txt-mobile btn-movil">Learn More</button>
                                </div>
                        </div>
                    </article>
                    <article>
                        <div class="second-section-about">
                            <div>
                                <p class="txt txt-desk">
                                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam 
                                    facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam. Aenean 
                                    ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam 
                                    facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                </p>
                                <p class="txt-mobile">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s 
                                    (...)
                                </p>
                                <button class="txt-mobile btn-movil">Learn More</button>
                            </div>
                            <img src="/assets/imgs/section/image-about-second.png" alt="">
                        </div>
                    </article>
            </section>
            <section class="section-contact">
                <h2>
                    Get in touch
                </h2>
                <form action="">
                <div class="section-contact-container">
                        <div class="form-contact first-form-contact">
                            <div>
                                <label class="part-form-contact" for="first-name">First name</label>
                                <input class="part-form-contact" type="text" id="first-name" placeholder="Enter name">
                            </div>
                            <div>
                                <label class="part-form-contact" for="last-name">Last name</label>
                                <input class="part-form-contact" type="text" id="last-name" 
                                placeholder="Enter last name">
                            </div>
                            <div>
                                <label class="part-form-contact" for="email">Email address</label>
                                <input class="part-form-contact" type="text" id="email" placeholder="Enter address">
                            </div>
                                    <button type="submit" class="btn-form-contact">Submit</button>
                        </div>
                        <div class="form-contact second-form-contact">
                            <div>
                                <label class="part-form-contact" for="contact">Contact reason</label>
                                <select class="part-form-contact" name="" id="contact" >
                                    <option value="" disabled selected>Choose contact reason</option>
                                    <option value="option-1">option 1</option>
                                    <option value="option-2">option 2</option>
                                </select>
                            </div>
                            <div>
                                <label class="part-form-contact" for="message">Message</label>
                                <textarea name="" id="text-area-form" cols="30" rows="10" 
                                placeholder="Enter your message">
                                </textarea>
                            </div>
                            <button type="submit" class="btn-form-contact-mobil">Send</button>
                        </div>
                    </div>
                </form>
            </section>
            <section class="section-activities">
                <h2>
                    Gym activities
                </h2>
                <div class="section-activities-conteiner">
                    <div class="list-section-activities">
                        <ul>
                            <div class="activities-list-1">
                                <li>Crossfit</li>
                                <li>Spinning</li>
                                <li>Functional</li>
                            </div>
                            <div class="activities-list-2">
                                <li>Fitness</li>
                                <li>Boxing</li>
                            </div>
                        </ul>
                    </div>
                    <img src="/assets/imgs/section/image-activities.png" alt="">
                </section>
                </div>
            <section class="section-memberships">
                <h2>
                    Memberships
                </h2>
                    <table>
                        <tr class="row first-row color-grey">
                            <th class="first-colum"> </th>
                            <th>Only classes</th>
                            <th>Classic</th>
                            <th>Black</th>
                        </tr>
                        <tr class="row row-2 color-white">
                            <td>Free access to the fitness room</td>
                            <td><img src="/assets/icons/section/memberships/icon-cross.png" alt=""></td>
                            <td><img src="/assets/icons/section/memberships/icon-tick.png" alt=""></td>
                            <td><img src="/assets/icons/section/memberships/icon-tick.png" alt=""></td>
                        </tr>
                        <tr class="row row-3 color-grey">
                            <td>Free access to classes prior enrollment</td>
                            <td><img src="/assets/icons/section/memberships/icon-tick.png" alt=""></td>
                            <td><img src="/assets/icons/section/memberships/icon-cross.png" alt=""></td>
                            <td><img src="/assets/icons/section/memberships/icon-tick.png" alt=""></td>
                        </tr>
                        <tr class="row row-4 color-white">
                            <td>Perzonalized follow-up by a trainer</td>
                            <td><img src="/assets/icons/section/memberships/icon-cross.png" alt=""></td>
                            <td><img src="/assets/icons/section/memberships/icon-tick.png" alt=""></td>
                            <td><img src="/assets/icons/section/memberships/icon-tick.png" alt=""></td>
                        </tr>
                        <tr class="row row-5 color-grey">
                            <td>Schedulling visualization</td>
                            <td><img src="/assets/icons/section/memberships/icon-tick.png" alt=""></td>
                            <td><img src="/assets/icons/section/memberships/icon-tick.png" alt=""></td>
                            <td><img src="/assets/icons/section/memberships/icon-tick.png" alt=""></td>
                        </tr>
                    </table>
            </section>
        </main>
        <footer>
            <ul>
                <li>
                    <a href="#">
                        <img src="/assets/icons/footer/icon-linkedIn.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/icons/footer/icon-facebook.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/icons/footer/icon-instagram.png" alt="">
                    </a>
                </li>
            </ul>
            <p>
                Copyright © 2022 Radium Rocket. All rights reserved.
            </p>
        </footer>
    </body>
</html>