<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;1,400&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/aside.css">
        <link rel="stylesheet" href="../css/content.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/header.css">

        <title>Mega Rocket</title>
    </head>
    <body>
        <header>
            <img src="/assets/imgs/header/logo-mega-rocket.png" alt="logo-mega-rocket" id="logo">
            <img src="/assets/icons/header/sandwich-icon.png" alt="sandwich-icon" id="sandwich-icon">
        </header>
        <aside>
            <nav>
                <ul>
                    <li>
                        <a href="../views/index.html">
                            <img src="/assets/icons/aside/icon-btn-home.png" alt="">
                            Home
                        </a>    
                    </li>
                        <li>
                        <a href="../views/sign-up.html">
                            <img src="/assets/icons/aside/icon-btn-singUp.png" alt="">
                            Sign Up
                        </a>
                        </li>
                    <li>
                        <a href="../views/login.html">
                            <img src="/assets/icons/aside/icon-btn-singIn.png" alt="">
                            Sign In
                        </a>
                    </li>
                </ul>
            </nav>
                <div class="information">
                    <h4>
                        Contact Information
                    </h4>
                        <p id="aside-information-email">
                            <img src="/assets/icons/aside/icon-home.png" alt="">
                            information@untitled.tld
                        </p>
                        <p>
                            <img src="/assets/icons/aside/icon-phone.png" alt="">
                            (000) 000-0000
                        </p>
                        <p>
                            <img src="/assets/icons/aside/icon-packet.png" alt="">
                            1234 Somewhere Road #8254 Nashville, TN
                        </p>
                </div>
        </aside>
        <main>
            <div>
                <h1>Sign Up</h1>
                <form action="">
                    <label for="">Name</label>
                    <input type="text" placeholder="Enter your name">
                    <label for="">Last Name</label>
                    <input type="text"placeholder="Enter your last name">
                    <label for="">DNI</label>
                    <input type="text"placeholder="Enter your DNI">
                    <label for="">Birthdate</label>
                    <input type="date"placeholder="dd/mm/yyyy">
                    <label for="">Phone number</label>
                    <input type="text"placeholder="Enter your phone number">
                    <label for="">Location</label>
                    <input type="text"placeholder="Enter your location">
                    <label for="">Postal number</label>
                    <input type="text"placeholder="Enter your postal number">
                    <label for="">Email</label>
                    <input type="text"placeholder="Enter your email">
                    <label for="">Password</label>
                    <input type="password"placeholder="Enter a password">
                    <label for="">Repeat password</label>
                    <input type="password"placeholder="Repeat password">
                    <input type="checkbox">Remember Me
                    <button>Enter</button>
                </form>
        </main>
        <footer>
            <ul>
                <li>
                    <a href="#">
                        <img src="/assets/icons/footer/icon-linkedIn.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/icons/footer/icon-facebook.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/icons/footer/icon-instagram.png" alt="">
                    </a>
                </li>
            </ul>
            <p>
                Copyright © 2022 Radium Rocket. All rights reserved.
            </p>
        </footer>