aside{
display: none;
}

@media only screen and (min-width: 1025px){
    aside{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        height: 100%;
        width: 300px;
        margin-top: 70px;
        margin-left: 0px;
        }

    nav {
        text-align: center;
        margin: 20px;
        margin-left: 40px;
    }
        
    nav ul li {
        margin-top: 15px;
        padding: 10px;
        border: 1px solid ;
        border-radius: 5px;
        background-color: white;
        list-style-type: none;
    }

    nav ul li a {
        display: block;
        width: 100%;
        text-decoration: none;
        font-weight: bold;
        
    }

    .information{
        padding-left: 40px;
        margin-bottom: 100px;
    }

    .information h4 {
        text-align: center;
        font-weight: bold;
        color: white;
        text-decoration: 5px underline;
        text-decoration-color: white;
        margin-bottom: 30px;
    }

    .information ul li {
        margin-top: 20px;
    }
    .information img  {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }
}
