main{
    margin-left: 5%;
    margin-right: 5%;
}
.section-welcome {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#h2-welcome {
    display: none;
}

.section-welcome-txt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 2%;
    margin-right: 2%;
}

.section-welcome-img img {
    width: 100%;
}

.section-feactures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.section-feactures h2{
margin-bottom: -10px;
}

.section-feactures p {
    text-align: start;
}

.img-title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

.img-title img {
    height: 30px;
    margin-left: 10%;
    margin-right:5% ;
}

.section-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.txt-desk{
    display: none;
}

.section-about p{
    margin-bottom: 15px;
}

.section-about .first-section-about {
    display: flex;
    flex-wrap: wrap;
}

.section-about .second-section-about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-bottom: 20px;
}

.section-about img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.section-contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.section-contact h2{
text-align: center;
}

.part-form-contact{
    margin-bottom: 10px;
}

.form-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

.btn-form-contact{
    display: none;
}

.section-activities{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.section-activities img{
    width: 100%;
}

.list-section-activities li{
    margin-bottom: 10px;
    list-style-type: none;
}

.section-memberships{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}


@media only screen and (min-width: 601px){

    .section-welcome{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: 30px;
    }

    .section-welcome-txt{
        width: 49%;
    }

    .section-welcome-txt h1{
        display: block;
        width: 100%;
    }

    #h2-welcome{
        display:block;
        width: 100%;
    }

    .section-welcome-img{
        width: 50%;
    }

    .section-welcome-img img{
        max-width: 350px;
    }

    .article-section-feactures{
        display: flex;
    }

    .section-about img {
        width: 50%;
    }
    .section-about .first-section-about{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .section-about .second-section-about{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .txt-mobile{
        display: none;
    }

    .txt-desk{
        display: inline-block;
    }

    .section-contact-container{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .first-form-contact{
        display: flex;
        flex-direction: column;
    }

    .section-activities-conteiner {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .list-section-activities{
        text-align: start;
        margin-left: 10%;
    }

    .section-activities img{
        width: 60%;
    }

    .section-memberships{
        display: flex;
        flex-direction: column;
    }

    
}

/* @media only screen and (min-width: 1025px){}; */