main{
    margin-left: 5%;
    margin-right: 5%;
}
.section-welcome {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#h2-welcome {
    display: none;
}

.section-welcome-txt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 2%;
    margin-right: 2%;
}

.section-welcome-img img {
    width: 100%;
}

.section-feactures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.section-feactures h2{
margin-bottom: -10px;
}

.section-feactures p {
    text-align: start;
}

.img-title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

.img-title img {
    height: 30px;
    margin-left: 10%;
    margin-right:5% ;
}

.section-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.txt-desk{
    display: none;
}

.section-about p{
    margin-bottom: 15px;
}

.section-about .first-section-about {
    display: flex;
    flex-wrap: wrap;
}

.section-about .second-section-about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-bottom: 20px;
}

.section-about img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.btn-movil{
    padding: 10px 20px 10px 20px;
    color: #373867;
    border: 1px solid ;
    border-radius: 5px;
    margin-bottom: 40px;
}

.section-contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.section-contact h2{
text-align: center;
}

.part-form-contact{
    margin-bottom: 10px;
}

.form-contact{
    display: flex;
    flex-direction: column;
}

.btn-form-contact{
    display: none;
}

.btn-form-contact-mobil{
    align-items: end;
}

.section-contact form label {
    display: block;
    margin-top: 30px;
    margin-bottom: 7px;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
}

.section-contact form input {
    display: block;
    height: 37px;
    width: 100%;
    padding-left: 7px;
    border: 1px solid #373867;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.5;
}

.section-contact form #contact {
    width: 100%;
    height: 36px;
    padding-left: 7px;
    border: 1px solid #373867;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.5;
}

#text-area-form{
    width: 100%;
}

.section-contact form button {
    align-items: center;
    margin-top: 22px;
    padding: 14px 36px;
    width: 123px;
    height: 47px;
    background-color: #AACE9B;
    border-radius: 5px;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #373867;
    border: none;
}

.section-activities{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.section-activities img{
    width: 100%;
}

.list-section-activities li{
    margin-bottom: 10px;
    list-style-type: none;
}

.section-activities ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
    margin:20px;
    font-weight: 1000;
    font-size: 20px;
    line-height: 20px;
    text-transform: capitalize;
    font-stretch: 100;
    vertical-align:top;
}

.section-memberships{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.row{
    height: 30px;
}


@media only screen and (min-width: 601px){

    .section-welcome{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: 30px;
    }

    .section-welcome-txt{
        width: 49%;
    }

    .section-welcome-txt h1{
        display: block;
        width: 100%;
    }

    #h2-welcome{
        display:block;
        width: 100%;
    }

    .section-welcome-img{
        width: 50%;
    }

    .section-welcome-img img{
        max-width: 350px;
    }

    .article-section-feactures{
        display: flex;
    }

    .section-about img {
        width: 50%;
    }
    .section-about .first-section-about{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .section-about .second-section-about{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .txt-mobile{
        display: none;
    }

    .txt-desk{
        display: inline-block;
    }

    .section-contact-container{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .form-contact{
        width: 40%;
    }

    .first-form-contact{
        display: flex;
        flex-direction: column;
    }
    .btn-form-contact-mobil{
        display: none;
    }
    .btn-form-contact{
        display: block;
    }

    .section-activities-conteiner {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .list-section-activities{
        text-align: start;
        margin-left: 10%;
    }

    .section-activities ul{
        flex-direction: column;
    }
    .section-activities ul li{
        list-style-type:initial;
    }

    .section-activities img{
        width: 60%;
    }

    .section-memberships{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 1025px){
    
    main{
        z-index: 500;
        position:relative;
        margin-left: 300px;
        padding: 30px;
        padding-top: 70px;
    }

    .txt{
        padding-left: 20px;
        padding-right: 20px;
    }
};