main{
    margin-left: 5%;
    margin-right: 5%;
}
.section-welcome {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#h2-welcome {
    display: none;
}

.section-welcome-txt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 2%;
    margin-right: 2%;
}

.section-welcome-img img {
    width: 100%;
}

.section-feactures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.section-feactures h2{
margin-bottom: -10px;
}

.section-feactures p {
    text-align: start;
}

.img-title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

.img-title img {
    height: 30px;
    margin-left: 10%;
    margin-right:5% ;
}

.section-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.txt-desk{
    display: none;
}

.section-about p{
    margin-bottom: 15px;
}

.section-about .first-section-about {
    display: flex;
    flex-wrap: wrap;
}

.section-about .second-section-about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-bottom: 20px;
}

.section-about img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.section-contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.section-contact h2{
text-align: center;
}

.part-form-contact{
    margin-bottom: 10px;
}

.form-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

.btn-form-contact{
    display: none;
}

.section-activities{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.section-activities img{
    width: 100%;
}

.list-section-activities li{
    margin-bottom: 10px;
    list-style-type: none;
}

.section-memberships{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}


@media only screen and (min-width: 601px){}

@media only screen and (min-width: 1025px){}